* {
   box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

nav, .privacy {
    background-color: #EFEFEF;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    display: flex;
}

.bold {
    font-weight: 700;
}

h1 {
    color: #FFF;
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #FFF;
    font-size: 18px;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.btn-r30 {
    color: #fff;
    padding: 9px 52px;
    border-radius: 30px;
    border: 2px solid #F13C6E;
    background-color: #F13C6E;
}

.btn-r40 {
    border-radius: 40px;
    border: 2px solid #F13C6E;
    background-color: #FFF;
}

header:after {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #EFEFEF;
    width: 100%;
}

.header__list, .logo, .socials,
.phone, .entry__list {
    display: flex;
    justify-content: center;
}

.logo, .phone {
    align-items: center;
}

.entry__content, .offer2__card1-head, .categories__box {
    display: flex;
    flex-direction: column;
}

.header__list {
    gap: 30px;
}

.header__list-item {
    padding: 16px 0;
}

.header__list-item a:hover,
.header__list-item a:active {
    color: #F13C6E;
    cursor: pointer;
    transition: 0.3s;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
}

.logo, .socials {
    gap: 20px;
}

.logo__text {
    color:#F13C6E;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 4px;
}

.phone {
    gap: 40px;
}

.phone p {
    font-size: 16px;
}

.button__callback {
    padding: 12px 55px;
}

.button__more {
    padding: 12px 65px;
    border-color: #fff;
    background-color: #F13C6E;
    color: #fff;
}

.button-StoreMap {
    border-color: #fff;
}

.entry__list {
    gap: 40px;
    padding: 30px 0;
}

.entry__list-item a {
    font-size: 16px;
}

.categories__item a:hover,
.entry__list-item a:hover,
.entry__list-item a:active {
    color: #F13C6E;
    cursor: pointer;
    transition: 0.3s;
}

.entry__content {
    padding: 180px 0;
    gap: 50px;
    max-width: 25%;
}

.entry__content p {
    color: #fff;
}

.entry__image {
    background-image: url("../assets/img/entry.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.offers, .recently {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    background-color: #EFEFEF;
}

.recently {
    padding-bottom: 50px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    background-color: #fff;
}

.categories:after {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #EFEFEF;
    width: 100%;
}

.offer1, .offer2, .recently1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 30px;
}

.offer2 {
    padding-top: 100px;
}

.offer3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
}

.offer3 img {
    padding: 35px 59px;
    background-color: #fff;
    border: 1px solid #EFEFEF;
}

.offer1, .recently1 p {
    text-align: center;
}

.offer1__card1-price, .recently1__card1-price {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
}

.offer1__card1, .recently1__card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 247px;
    background-color: #fff;
    padding: 25px 30px;
    gap: 20px;
}

.offer2__card1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-width: calc(100%/2 - 15px);
    background-color: #F13C6E;
    padding: 35px 34px 35px 40px;
    gap: 30px;
}

.offer2__card1 p {
    color: #fff;
}

.offer2__card1-head {
    gap: 25px;
}

.offer2__card1-head p {
    max-width: 130px;
}

.offer3 {
    padding-top: 100px;
}

.offers3__card1 img {
    padding: 35px 60px;
    border: 1px solid #EFEFEF;
    background-color: #fff;
}

input {
    color: #fff;
    padding: 9px 80px 9px 25px;
    border: solid 2px #F13C6E;
    border-radius: 30px;
}

.categories__box {
    min-width: 247px;
    gap: 15px;
}

.categories__box h4:after {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #EFEFEF;
    width: 100%;
}

.categories__items a {
    color: #828282;
    font-size: 12px;
}

.categories__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.categories__boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 45px
}

.contact {
    padding: 35px 0;
}

.privacy__text {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.privacy__text p {
    color: #828282;
    font-size: 12px;
}